<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='OTP.css')}}">
    <title>PLM Hub</title>
</head>

<body >
    <div class="OTPF" >
            <form method="post">
                    <fieldset>
                        <Legend>One Time Pin</Legend>
                        <label for="Generated_OTP">OTP</label>
                        <input type="text" placeholder="Enter OTP:" id="Generated_OTP" name="Generated_OTP">
                        <button type="submit" id="OTP_btn">Submit</button>
                    </div>
                    </fieldset>
                </form>
</body>
</html>